html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    min-width: 803px;
    max-width: 1440px;
    
}
.header{
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
}
.strong{
    color: rgba(62, 69, 232, 1);
}
.ukr{
    color: rgba(232, 194, 62, 1);
}
h1{
    background: url(../img/bec\ bord.png) no-repeat center;
    background-size: cover;
    height: 800px;
    width: 1440px;
}

.text{
    position: absolute;
    width: 1036px;
    height: 439px;
    left: 118px;
    top: 305px;
    
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 157.3%;
    color:  #FFFFFF;

    
}
h2{
    margin-top: 72px;
    margin-left: 80px;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 157.3%;
}
.line{
    background: #3E45E8;
    border: 5px solid #3E45E8;
    width: 402px;
    margin-left: 80px;
    margin-top: 25px;

}
.cart{
    width: 391.2px;
    height: 302.89px;
    float: left;
    margin-top: 33px;
    margin-left: 48px;
}
.h2{
    text-align: center;
    margin-top: 613px;
}
.line2{
    background: #3E45E8;
    border: 5px solid #3E45E8;
    width: 402px;
    margin-left: 520px;
    margin-top: 25px;
}
.map{
    position: absolute;
    width: 812px;
    height: 537px;
    left: 294px;
    top: 1786px;

}
div button{
    margin-left: 420px;
    margin-top: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E45E8;
    color: #FFFFFF;
    width: 591px;
    height: 121px;
    font-weight: 700;
    font-size: 64px;
    border: #3E45E8;
    margin-bottom: 31px;
    

}
.end{
    background-color: #2F4A4B;
}
.texEnd{
    font-family: 'M PLUS 1';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}
.mail{
    font-family: 'Marcellus SC';
    font-weight: 400;
    font-size: 36px;
    color: rgba(168, 157, 157, 1);
    text-decoration: none;
    margin-bottom: 176px;
}
.icon{
    float: left;
    margin-left: 13px;
    position: absolute; 
}



